body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:rgb(0, 0, 0);
}

.slika1, .slika2, .slika3{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}

.slika1{
  background-image:url('../images/slika11.jpg');
  min-height:100%;
  min-width:100%;
}

.slika2{
  background-image:url('../images/slika22.jpg');
  min-height:400px;
  min-width:100%;
}

.slika3{
  background-image:url('../images/slika33.jpg');
  min-height:400px;
  min-width:100%;
}

.kutija{
  text-align:center;
  padding:50px 80px;
}

.kutija-light{
  background-color:rgb(22, 22, 22);
  color:white;
}

.kutija-dark{
  background-color:rgb(22, 22, 22);
  color:#ddd;
}

.paratext{
  position:absolute;
  top:60%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:31px;
  letter-spacing:3px;
  text-transform:uppercase;
}

.paratext .border{
  background-color:rgb(22, 22, 22);
  color:#fff;
  padding:20px;
}


body {
  padding-top: 54px;
}

@media screen and(min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
